<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPsmFzP08hlXALZU0krx6Hf07c54jV-xg&#038;libraries=places&#038;ver=0f80d99962776d1d015c1e19bb6c32a5'></script>
<div class="wrapper">
  <div class="top-wrap">
    <!--Header-->
    <header class="header-wrap logo-left home-header ">

      <div class="main-header ">
        <div class="container">
          <div class="logo-box">
            <div class="name-box" style=" display:block;">
              <a href="http://www.valamodistillery.com/">
                <h1 class="site-name"></h1></a>
              <span class="site-tagline"></span>
            </div>

          </div>
          <button class="site-nav-toggle">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <nav class="site-nav" role="navigation">
            <ul id="menu-main" class="main-nav">
              <li class="onetone-menuitem"><a id="onetone-section-1" href="#section-1">
                <span>Distillery</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-section-3" href="#section-3">
                <span>Story</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-section-5" href="#section-5">
                <span>Barrels</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-testimonials" href="#testimonials">
                <span>Production</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-section-9" href="#section-9">
                <span>Contact</span></a></li>
            </ul>
          </nav>
        </div>
      </div>


      <div class="fxd-header">
        <div class="container">
          <div class="logo-box">
            <div class="name-box" style=" display:block;">
              <a href="http://www.valamodistillery.com/">
                <h1 class="site-name"></h1></a>
              <span class="site-tagline"></span>
            </div>

          </div>
          <button class="site-nav-toggle">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <nav class="site-nav" role="navigation">
            <ul id="menu-main" class="main-nav">
              <li class="onetone-menuitem"><a id="onetone-section-1" href="#section-1">
                <span>Distillery</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-section-3" href="#section-3">
                <span>Story</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-section-5" href="#section-5">
                <span>Barrels</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-testimonials" href="#testimonials">
                <span>Production</span></a></li>
              <li class="onetone-menuitem"><a id="onetone-section-9" href="#section-9">
                <span>Contact</span></a></li>
            </ul>
          </nav>
        </div>
      </div>


    </header>
    <div class="slider-wrap"></div>
  </div>
  <div class="post-wrap">
    <div class="container-fullwidth">
      <div class="page-inner row no-aside" style="padding-top: 0; padding-bottom: 0;">
        <div class="col-main">
          <section class="post-main" role="main" id="content">
            <article class="page type-page homepage" id="">
              <section id="section-1" class="home-section-1 section-banner home-banner">
                <div class="section-content">
                  <div class="home-container container page_container">
                    <div class="home-section-content">
                      <div class="full_width text-center">
                        <%= image_tag 'logo_white_black.png', class: 'tislaamo' %>
                        <%= image_tag 'text_bottle_white-lg.png' %>

                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </section>
              <section id="section-3" class="home-section-3 ">
                <div class="home-container container page_container">
                  <div class="section-title">STORY</div>
                  <div class="home-section-content">
                    <div class="one_half">

                      <h3 class="text-center">ROOTS</h3>
                      <p>The roots of Valamo's monastery can be said to be over the millennia. In the mid-nineteenth
                        century as crusaders, middle-european monks brought distillation from Arabia to Europe. Until
                        1504, until the end of the Reformation, the monastery plant had the exclusive right to produce
                        distilled alcohol.</p>

                      <p>Along with just distilled alcohol, the roots of a whiskey made from grain are deep in the
                        tradition of monasteries. It is commonly believed that Irish monks have developed a modern
                        whiskey and subsequently ripened in oak barrels, from barrels from which the practice was passed
                        from whiskey manufacturing to industrialization up to bedrock. By the laws of the early 20th
                        century, whey distilled spirits could only be said to be whiskey after it had been aged for at
                        least three years in oak barrels.</p>

                      <%= image_tag 'text_bottle_black.png', class: 'spirit' %>
                      <!--<img class="spirit " src="http://www.valamodistillery.com/wp-content/uploads/2017/05/Heavenly-spirit-from-valamo-bw-680px.png" alt=""/>-->

                      <p>Since then, the abandonment of the monastery risk has been stopped by the monasteries and the
                        distillation of whiskey has shifted to wholemeal private distilleries. Today, almost every
                        continent is equipped with a bilge pan, but the main principles of distillation have remained
                        the same for centuries. Traditions are appreciated and they are to be kept up to date. At the
                        Valamo Monastery Distillery, this centuries-old tradition finally returns to its "home" when it
                        is currently the only manufacturer of monasteries in the world.</p>

                      <p>The heart of the whiskey is melted barley. Throughout the time the viscose was made from
                        barley, with the exception of small local specialties. Finnish barley is today a question of raw
                        material also in Scotland's distilleries in Scotland. Light long days in the Finnish summer,
                        nightless night, provide a barely favorable growth environment. Domestic barley is sugar and
                        starch and it gives the yeast an ideal workplace when making alcohol.</p>

                      <%= image_tag 'bar.png', class: 'viiva' %>
                      <!--<img class="viiva" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png" alt=""/>-->

                    </div>
                    <div class="one_half last">

                      <h3 class="text-center">MATURATION</h3>
                      <p>The impact of the barrels on the end product of the product over the years has proved to be of
                        paramount importance. In general, whisking of whiskey in the distillery uses formerly Bourbon
                        whiskey barrels of the United States and dessert wine barrels. Bourbon shingles can be regarded
                        as the cornerstone of the whiskey industry.</p>

                      <p>Most of the world's malt bushes mature specifically in the bourbontynnyr. In dessert wines,
                        especially sherry's share is significant, but all of the maturing beverages are widely used in
                        maturing whiskey.</p>

                      <%= image_tag 'text_bottle_black.png', class: 'spirit' %>
                      <!--<img class="spirit " src="http://www.valamodistillery.com/wp-content/uploads/2017/05/Heavenly-spirit-from-valamo-bw-680px.png" alt=""/>-->

                      <p>The distillation of the malting pot of the Finnish Valamo Monastery started in summer 2015, but
                        before that, Valamo's monastery has been developed for more than four years. Our visk's roots
                        are in our vineyard, where the Valamo monastery's church wine is made. This grape-based liqueur
                        wine is used, among other things, in communion with numerous Finnish congregations.</p>

                      <p>The red wine is very sweet, fruity and ruby ​​red in color. This noble drink is aged for many
                        years in European oak barrels, which it absorbs over time, giving the barrel a beautiful red
                        tint from the inside.</p>

                      <p>We use this unique type of barrel in our whiskey production, ripening some of the distillate we
                        have prepared in church wine barrels. Especially the covenant of smoky whiskey and church wine
                        has turned out to be heavenly.</p>

                      <%= image_tag 'http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png', class: 'viiva' %>
                      <!--<img class="viiva" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png" alt=""/>-->

                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </section>
              <section id="section-4" class="home-section-4 ">
                <div class="home-container container page_container">
                  <div class="home-section-content text-center">
                    <%= image_tag 'text_bottle_white-lg.png', class: 'text-center spirit_valitila' %>
                    <!--<img class="spirit_valitila " src="images/text_bottle_white-lg.png" alt=""/>-->
                  </div>
                </div>
                <div class="clear"></div>
              </section>
              <section id="section-5" class="home-section-5 ">
                <div class="home-container container page_container">
                  <div class="section-title">BARRELS</div>
                  <div class="home-section-content">
                    <div class="one_half">

                      <h3>BOURBON BARREL</h3>
                      <p>The bourbon barrels we use will come to our distillation directly from the distilleries of the
                        United States. The aroma world of sweet and vanilla bourbon is highly suitable for maturation of
                        our monastery, giving ready-to-drink pale fruity and soft flavors. Honey, vanilla, flowering and
                        sweet malt. Bourbon Skeleton leaves the monastery risk to its own nature for space to evolve for
                        decades, which is why it is also well suited for really long-term ripening.</p>

                      <%= image_tag 'text_bottle_black.png', class: 'spirit text-center' %>
                      <!--<img class="spirit" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/Heavenly-spirit-from-valamo-bw-680px.png" alt=""/>-->

                      <p>In the United States, barrelers were allowed to run in the early 20th century through a law
                        that requires Bourbon ripening in new oak barrels. The law led to an increase in the number of
                        Bourbon barrels used, and the exact figures of the Scottish scholars discovered their
                        opportunity. Once again, the Bourbon barrel, when newer white-colored barrels were considerably
                        cheaper, began to be shipped from a sea line from America across the sea to Scotland. The
                        briefly used Bourbon barrel established its position as the most common barrel quality used for
                        whiskey maturing.</p>

                      <%= image_tag 'bar.png', class: 'text-center viiva' %>
                      <!--<img class="viiva" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png" alt=""/>-->


                    </div>
                    <div class="one_half last">

                      <h3>THE CHURCH WINE BARREL</h3>
                      <p>The production and maturing of the church wine will take place in our own premises in the
                        monastery area. It is natural that in the manufacture of a monastery rack we use church wine
                        instead of other strong dessert wines. The Valamo Monastery church wine is made from Hungarian
                        grapes and is sweetened and concentrated after fermentation. Multiple years maturing in oak
                        barrels guarantee the absorption of wine aromas into barrel causes. New vinegars made of
                        European oak are always used for ribbon cutting.</p>

                      <%= image_tag 'text_bottle_black.png', class: 'spirit' %>
                      <!--<img class="spirit " src="http://www.valamodistillery.com/wp-content/uploads/2017/05/Heavenly-spirit-from-valamo-bw-680px.png" alt=""/>-->

                      <p>When the wine is ready we will give the barrel a new life in whiskey maturation. Freshly fruity
                        and even nectarious sweet cherry juice creates together with the abyss of algal rampage before
                        the unbeatable combination of fine aromas. For the finished product, the church wine cure gives
                        dark fruity tones, chocolate, coffee, sweet berries and exotic fruitiness. Whitewash whiskey is
                        a completely unique product that is not elsewhere available. The age-old tradition of
                        distillation faces wines in the sacred barrel molding. This long-lasting interaction creates a
                        unique, unprecedented product.</p>

                      <%= image_tag 'bar.png', class: 'viiva' %>
                      <!--<img class="viiva" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png" alt=""/>-->


                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </section>
              <section id="section-6" class="home-section-6 ">
                <div class="home-container container page_container">
                  <div class="home-section-content text-center">
                    <%= image_tag 'text_bottle_white-lg.png', class: 'spirit_valitila' %>
                    <!--<img class="spirit_valitila " src="http://www.valamodistillery.com/wp-content/uploads/2015/10/Heavenly-spirit-from-valamo-680px.png" alt=""/>-->
                  </div>
                </div>
                <div class="clear"></div>
              </section>

              <section id="testimonials" class="home-section-7 ">
                <div class="home-container container page_container">
                  <div class="section-title">PRODUCTION</div>
                  <div class="home-section-content">
                    <div class="one_half text-center">

                      <%= image_tag 'bottle.jpg', class: 'valamo5' %>

                    </div>
                    <div class="one_half last">

                      <h3>VALAMO IS 5 YEARS OLD</h3>
                      <p>Valamo's 5-year-old is the first official bottle of Valamo Monastery Distillery to celebrate VYS's five-year skyline.</p>
                      <p>At this 725 bottle, a special Finnish sailor will be honored at the same time Finland's 100th anniversary.</p>

                      <%= image_tag 'text_bottle_black.png', class: 'spirit' %>

                      <p>Gold-yellow, medium-bodied, warm, creamy, spicy, vanilla.</p>
                      <p>Alcohol 55.1% vol.</p>

                      <a class="primary cta-button alko" href="" target="_blank">Order product Alko's selection here</a>

                      <%= image_tag 'bar.png', class: 'max-width' %>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </section>


              <section id="section-8" class="home-section-8 ">
                <div class="home-container container page_container">
                  <div class="home-section-content text-center">
                    <%= image_tag 'text_bottle_white-lg.png', class: 'spirit_valitila' %>
                    <!--<img class="spirit_valitila" src="http://www.valamodistillery.com/wp-content/uploads/2015/10/Heavenly-spirit-from-valamo-680px.png" alt=""/>-->
                  </div>
                </div>
                <div class="clear"></div>
              </section>
              <section id="section-9" class="home-section-9 ">
                <div class="home-container container page_container">
                  <div class="section-title">CONTACT</div>
                  <div class="home-section-content">
                    <div class="full_widht text-center">

                      <h3>VALAMO MONASTERY</h3>

                      <!--<div class="mapouter">-->
                        <!--<div class="gmap_canvas">-->
                          <!--<iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
                          <!--<a href="https://www.pureblack.de">webdesign agentur</a>-->
                        <!--</div>-->
                      <!--</div>-->

                      <div id="srm_gmp_embed_1"
                           style="width:100% !important;height:380px  !important;margin:5px 0; ">

                      </div>


                    <div class="full_widht text-center">
                      <!--img class="viiva" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png" alt="" / -->
                      <h3>DISTILLING DISTILLERY</h3>

                      <p>Valamontie 42, 79850 Uusi-Valamo</p>
                      <p>info@valamodistillery.com</p>

                      <!--img class="viiva" src="http://www.valamodistillery.com/wp-content/uploads/2017/05/viiva-bw.png" alt="" /-->

                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </section>
              <section id="section-10" class="home-section-10 ">
                <div class="home-container container page_container">

                  <div class="home-section-content">
                    <div class="full_width text-center">

                      <%= image_tag 'logo_white_black.png', class: 'tislaamo' %>
                      <%= image_tag 'text_bottle_white-lg.png', class: 'img_bottom_last' %>
                      <!--<img class="tislaamo" src="http://www.valamodistillery.com/wp-content/uploads/2017/06/Valamo-Distillery-logo-white-black-600.png" alt=""/>-->
                      <!--<img class="img_bottom_last" src="http://www.valamodistillery.com/wp-content/uploads/2017/06/Heavenly-spirit-from-valamo-600.png" alt=""/>-->

                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </section>
              <div class="clear"></div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>
<a href="javascript:;">
  <div id="back-to-top">
    <span class="fa fa-arrow-up"></span>
    <span>TOP</span>
  </div>
</a>

<script>

    jQuery(document).ready(function() {
        scroll_events.bind_events( {
            universal: 1,
            gtm:0,

            scroll_elements: [],
            click_elements: [{'select':'.UA-100597134-1','category':'call to action','action':'click','label':'A user clicked button','bounce':'false','evalue':''}],
        });
    });

</script>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var map = new google.maps.Map(document.getElementById("srm_gmp_embed_1"), {
            center: new google.maps.LatLng(62.563366,28.791142000000036),
            zoom:5,
            mapTypeId: google.maps.MapTypeId.HYBRID,
            scrollwheel:'1'
        });

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(62.563366,28.791142000000036),
            map: map,
            animation: google.maps.Animation.DROP
        });
        marker.setMap(map);

        var infowindow = new google.maps.InfoWindow({
            content: "Valamontie 42, 79850 Heinävesi, Finland"
        });

        infowindow.open(map, marker);

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    });
</script>

